/* TarunoWide Font Family */
@font-face {
  font-family: "TarunoWide";
  src:
    url("/fonts/TarunoWide/Webfont/TarunoWide-Bold.woff2") format("woff2"),
    url("/fonts/TarunoWide/Webfont/TarunoWide-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TarunoWide";
  src:
    url("/fonts/TarunoWide/Webfont/TarunoWide-Regular.woff2") format("woff2"),
    url("/fonts/TarunoWide/Webfont/TarunoWide-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TarunoWide";
  src:
    url("/fonts/TarunoWide/Webfont/TarunoWide-Medium.woff2") format("woff2"),
    url("/fonts/TarunoWide/Webfont/TarunoWide-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
